postgres-data
.idea
.venv
*.egg-info/                                                                                                                                                                                                                  
.pytest_cache/                                                                                                                                                                                                               
__pycache__/  
*/.ipynb_checkpoints
build
